{% load static %}
<!-- Main Sidebar Container -->
  <aside class="main-sidebar bg-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <span class="brand-text font-weight-light">Panel Administrativo</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'adminlte-3.2.0/dist/img/icons8-user-96.png' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info emphasis-text">
          <a href="#" class="d-block emphasis-text text-white">{{user.username | upper}}</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->


      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
          <li class="nav-header">MÓDULOS</li>
          <li class="nav-item">
            <a href="{% url 'app:cliente_lista' %}" class="nav-link emphasis-text text-white">
              <p>
                Clientes
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'app:categoria_lista' %}" class="nav-link emphasis-text text-white">
              <p>
                Categorías
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'app:producto_lista' %}" class="nav-link emphasis-text text-white">
              <p>
                Productos
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>