{% include 'layouts/head.html' %}
{% block body %}
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      {% include 'layouts/preloader.html' %}
      {% include 'layouts/navbar.html' %}
      {% include 'layouts/sidebar.html' %}
      {% include 'layouts/aside-sidebar-dark.html' %}
      
      {% block content %}

      {% endblock %}

      {% include 'layouts/footer.html' %}
      {% include 'layouts/scripts.html' %}
    </div>
    {% block javascript %}

    {% endblock %}
  </body>
{% endblock %}