{% extends 'body.html' %}

{% block content %}
<!-- Content Wrapper. Contains table content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Bienvenido</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
              <form action="{% url 'logout' %}" method="post" style="display: inline; margin: 0; padding: 0;">
                  <li class="breadcrumb-item">
                      {% csrf_token %}
                      <button class="mb-3 mt-2 btn btn-primary w-100" type="submit" style="margin-left: 10px;">
                          Cerrar Sesión
                      </button>
                  </li>
              </form>
          </ol>
      </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Add your main content here -->
      {% block contenido %}

      {% endblock %}
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}