{% extends 'content.html' %}

{% load static %}

{% block head %}
  <link href="{% static 'adminlte-3.2.0/plugins/datatables/jquery.dataTables.css' %}" rel="stylesheet"/>
{% endblock %}


{% block contenido %}
  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fa-solid fa-magnifying-glass"></i>
        {{ titulo }}
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-lg">Filtros de búsqueda</button>
      </h3>
      {% comment %} ventana emergente {% endcomment %}
      <div class="modal fade" id="modal-lg" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Filtros de búsqueda</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <p>One fine body…</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped table-hover" id="tabla">
        <thead>
          {% block columnas %}

          {% endblock %}
        </thead>
        <tbody>
          {% block filas %}

          {% endblock %}
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary btn-flat" type="button"><i class="fas fa-plus"></i> Agregar</button>
    </div>
  </div>


  {% block javascript %}

  <script src="{% static 'adminlte-3.2.0/plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script type="application/javascript">
    $(document).ready(function () {
      $('#tabla').DataTable({
        responsive: true,
        searching: true
      })
    })
  </script>
  {% endblock %}
{% endblock %}
