{% extends 'categorias/cliente/lista.html' %}

{% block columnas %}
  <tr>
    <th scope="col">ID#</th>
    <th scope="col">Nombres</th>
    <th scope="col">Apellidos</th>
    <th scope="col">Documento</th>
    <th scope="col">Tipo de documento</th>
    <th scope="col">Fecha de nacimiento</th>
  </tr>
{% endblock %}

{% block filas %}
{% for i in object_list %}
  <tr>
    <td>{{ i.id }}</td>
    <td>{{ i.nombres }}</td>
    <td>{{ i.apellidos }}</td>
    <td>{{ i.documento }}</td>
    <td>{{ i.tipo_documento }}</td>
    <td>{{ i.fecha_nacimiento }}</td>
    <td>
      <button type="button" class="btn btn-primary">
      <a href="{% url 'app:cliente_editar' i.pk %}" style="text-decoration: none; color: inherit;">
        <i class="fas fa-edit"></i>
      </a>
      </button>
      <button type="button" class="btn btn-danger">
      <a href="{% url 'app:cliente_eliminar' i.pk %}" style="text-decoration: none; color: inherit;">
        <i class="fas fa-trash"></i>
      </a>
    </button>    
    </td>
  </tr>
{% endfor %}
{% endblock %}
