{% extends 'categorias/producto/lista.html' %}

{% block columnas %}
  <tr>
    <th scope="col">ID#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Precio</th>
    <th scope="col">Cantidad</th>
    <th scope="col">Presentación</th>
    <th scope="col">Categoria</th>
    <th scope="col">Acciones</th>
  </tr>
{% endblock %}

{% block filas %}
{% for i in object_list %}
  <tr>
    <td>{{ i.id }}</td>
    <td>{{ i.nombre }}</td>
    <td>{{ i.precio }}</td>
    <td>{{ i.cantidad }}</td>
    <td>{{ i.presentacion }}</td>
    <td>{{ i.categoria }}</td>
    <td>
      <button type="button" class="btn btn-primary">
      <a href="{% url 'app:producto_editar' i.pk %}" style="text-decoration: none; color: inherit;">
        <i class="fas fa-edit"></i>
      </a>
      </button>
      <button type="button" class="btn btn-danger">
      <a href="{% url 'app:producto_eliminar' i.pk %}" style="text-decoration: none; color: inherit;">
        <i class="fas fa-trash"></i>
      </a>
    </button>    
    </td>
  </tr>
{% endfor %}
{% endblock %}
